<section class="jobs-top">
    <div class="container">
        <div class="row justify-content-center">
            <h1>Todas vagas</h1>
        </div>
    </div>
</section>

<section class="jobs-list">
    <div class="container">
        <div class="row job-box">
			<div class="col-xs-9 col-md-9">
				<h2>Desenvolvedor PHP</h2>
				<p>
					O desenvolvedor ir치 atuar criando e mantendo sistemas feitos em PHP com MySQL
				</p>
			</div>
			<div class="job-action col text-center">
				{{#if user}}
					<a href="/jobs/123456" class="btn btn-success btn-lg">Ver Detalhe</a>
				{{else}}
					<button type="button" class="btn btn-success btn-lg" disabled>Crie uma conta</button>
				{{/if}}
			</div>
        </div>
        <div class="row job-box">
			<div class="col-xs-9 col-md-9">
				<h2>Desenvolvedor PHP</h2>
				<p>
					O desenvolvedor ir치 atuar criando e mantendo sistemas feitos em PHP com MySQL
				</p>
			</div>
			<div class="job-action col text-center">
				{{#if user}}
					<a href="/jobs/123456" class="btn btn-success btn-lg">Ver Detalhe</a>
				{{else}}
					<button type="button" class="btn btn-success btn-lg" disabled>Crie uma conta</button>
				{{/if}}
			</div>
        </div>
        <div class="row job-box">
			<div class="col-xs-9 col-md-9">
				<h2>Desenvolvedor PHP</h2>
				<p>
					O desenvolvedor ir치 atuar criando e mantendo sistemas feitos em PHP com MySQL
				</p>
			</div>
			<div class="job-action col text-center">
				{{#if user}}
					<a href="/jobs/123456" class="btn btn-success btn-lg">Ver Detalhe</a>
				{{else}}
					<button type="button" class="btn btn-success btn-lg" disabled>Crie uma conta</button>
				{{/if}}
			</div>
        </div>
        <div class="row job-box">
			<div class="col-xs-9 col-md-9">
				<h2>Desenvolvedor PHP</h2>
				<p>
					O desenvolvedor ir치 atuar criando e mantendo sistemas feitos em PHP com MySQL
				</p>
			</div>
			<div class="job-action col text-center">
				{{#if user}}
					<a href="/jobs/123456" class="btn btn-success btn-lg">Ver Detalhe</a>
				{{else}}
					<button type="button" class="btn btn-success btn-lg" disabled>Crie uma conta</button>
				{{/if}}
			</div>
        </div>						
    </div>
</section>