<section class="jobs-top">
	<div class="container">
		<div class="row justify-content-center">
			<h1>Analises de dados</h1>
		</div>
	</div>
</section>

<section class="job-detail">
	<div class="container">
		<div class="row">
			<div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
				<div class="card">
					<div class="card-header">
						By date
					</div>
					<div class="card-block">
						<canvas id="bydate"></canvas>
					</div>
				</div>
			</div>
			<div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
				<div class="card">
					<div class="card-header">
						By 15 last days
					</div>
					<div class="card-block">
						<canvas id="by15days"></canvas>
					</div>
				</div>
			</div>

		</div>
	</div>		
</section>