<section class="page-container">
	<div class="page-content">
		<h2>Vagas.com.br</h2>
		<form action="/users/auth" method="POST">
			<div class="form-group">
				<input type="text" name="username" placeholder="Username:" class="form-control">
			</div>
			<div class="form-group">
				<input type="password" name="password"  placeholder="Password:" class="form-control">
			</div>
			<div class="form-group">
				<button type="submit" class="btn btn-primary">LogIn</button>
			</div>
		</form>
		<a href="/register">Create account</a>
	</div>
</section>