html {
	min-height: 100%;
	height: 100%;
	.login-register {
		min-height: 100%;
		height: 100%;
		background: linear-gradient(to bottom right, $bg-primary-default, $bg-primary-secondary);
	}
}

.page-container {
	margin: 0;
	padding: 4.5em 1.5em;
	display: table;
	width: 100%;
	height: 100%;
	min-height: 100%;
	&:before, &:after {
		display: table;
		content: "";
	}
	.page-content {
		h2 { 
			margin: 0.8em 0;
		}
		padding: 1.3em;
		display: table-cell;
		vertical-align: middle;
		text-align: center;
		min-height: auto;
		height: auto;
		width: 18em;
		background: $color-default;
		box-shadow: 0 0 10px 2px rgba(39, 39, 53, 0.2);
		border-radius: 0.4em;
	}
}