<section id="subheader">
	<div class="container">
		<h1>Indexador de vagas</h1>
		<p>Veja as melhores vagas em apenas um site</p>
		<a href="" class="btn btn-lg btn-danger mr-4">
			<i class="ion-help-buoy"></i>
			Ver Vagas
		</a>
		<a href="/login" class="btn btn-lg btn-outline-info c-white">
			<i class="ion-plus-round"></i>
			Registra-se
		</a>
	</div>
</section>

<section id="content">
	<div class="title">
		<h2>
			Features
		</h2>
		<p>Veja as features presentes em nosso indexador</p>
	</div>
	<div class="container">
		<div class="row">
			<div class="col-md-4 col-xs-12 col-sm-6">
				<div class="features-box">
					<i class="ion-pie-graph bg-primary"></i>
					<h3>Graficos</h3>
					<hr>
					<p>
						Analise graficos
					</p>
				</div>
			</div>
			<div class="col-md-4 col-xs-12 col-sm-6">
				<div class="features-box">				
					<i class="ion-clock bg-success"></i>
					<h3>Menos tempos</h3>
					<hr>
					<p>
						Tudo em apenas um site
					</p>				
				</div>
			</div>
			<div class="col-md-4 col-xs-12 col-sm-6">
				<div class="features-box">
					<i class="ion-ios-barcode-outline bg-info"></i>
					<h3>Filtros</h3>
					<hr>
					<p>
						Filtre vagas
					</p>		
				</div>		
			</div>
		</div>
	</div>
</section>

<section id="position_counter">
	<div class="container">
		<div class="row text-center">
			<div class="col-sm-12 col-xs-12">
				<h2>2000 Vagas já indexadas</h2>
				<p>Acesse agora e garanta a sua</p>
				<a href="/login" class="btn btn-outline-info btn-lg c-white">Registre-se</a>
			</div>
		</div>
	</div>
</section>

<section id="contact">
	<div class="title">
		<h2>Contato</h2>
		<p>Utilize o email abaixo para entrar em contato</p>
	</div>
	<div class="container">
		<div class="row text-center">
			<div class="col-xs-12 col-sm-12">
				<a href="mailto:contato@vagas.com.br?subject=Contato">contato@vagas.com.br</a>
			</div>
		</div>
	</div>
</section>

<footer id="footer">
	<div class="container">
		<div class="row text-center">
			<div class="col-xs-12 col-sm-12">
				<p>&copy; Copyright - Todos os direitos reservados 2017</p>
			</div>
		</div>
	</div>
</footer>