<section class="jobs-top">
	<div class="container">
		<div class="row justify-content-center">
			<h1>Desenvolvedor PHP</h1>
		</div>
	</div>
</section>

<section class="job-detail">
	<div class="container">
		<div class="row">
			<div class="col">
				<h2>Descrição:</h2>
				<p>Estágio para trabalhar com projeto de Aplicativo incluindo o FrontEnd + App + Backend</p>
				<p>Todo será feito em PHP e MySQL</p>
				<h2>Local:</h2>
				<p>Escritório ou remoto parcial/total</p>
				<h2>Beneficios:</h2>
				<ul>
					<li>Salário competitivo</li>
					<li>Oportunidade de grande aprendizado</li>
					<li>Boa localização</li>
					<li>Ótima equipe</li>
				</ul>
				<h2>Requisitos:</h2>
				<ul>
					<li>PHP</li>
					<li>MySQL</li>
					<li>HTML</li>
					<li>CSS</li>
					<li>Javascript</li>
				</ul>
				<h2>Desejáveis:</h2>
				<ul>
					<li>PHP POO</li>
					<li>PHP + PDO</li>
					<li>Algum framework</li>
				</ul>
			</div>
			<div class="col-xs-12 col-sm-12 col-md-12">
				{{#if user}}
					<a href="" class="btn btn-info btn-lg">Ir ate vaga</a>
				{{else}}
					<button type="button" class="btn btn-info btn-lg" disabled>Crie uma conta</button>
				{{/if}}
				<a href="/jobs" class="btn btn-warning btn-lg">Voltar para listagem</a>
			</div>
		</div>
	</div>
</section>