<header id="header">
	<nav class="navbar fixed-top navbar-toggleable">
		<div class="container">
			<a href="/" class="navbar-brand">
				Vagas
			</a>
			<button type="button" class="navbar-toggler navbar-toggler-right" data-toggle="collapse" data-target="#navbar">
				<span class="navbar-toggler-icon ion-navicon-round"></span>
			</button>
			<div class="collapse navbar-collapse" id="navbar">
				<ul class="navbar-nav ml-auto">
					<li class="nav-item"><a href="/" class="nav-link">Home</a></li>
					<li class="nav-item"><a href="/login" class="nav-link">Login</a></li>
					<li class="nav-item"><a href="/register" class="nav-link">Criar conta</a></li>
				</ul>
			</div>
		</div>
	</nav>	
</header>